body{
    margin: 0px;
    background-image: url("image/background_Img.1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.container{
    background-color: white;
    min-height: 100vh;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.input-area{
    margin: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.task-area{
    border: 1px solid skyblue;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid skyblue;
    position: relative;
    text-align: center;
}
.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: #fdcae1;
    position: absolute;
    width: 70px;
    left: 0px;
    top:36px;
    padding: 0px;
    transition: 0.4s;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid skyblue;
}



.task-board{
    border: 1px solid red;
}

.task-return{
    background-color: #888a8a;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid skyblue;
}

.task-done{
    text-decoration: line-through;
    
}

#task-input{
    padding: 5px;
    border-radius: 7px;
    
}

.checkBtn{
    background-color: #a3ffac;
}
.checkBtn:hover{
    background-color: #77dd77;
}

.returnBtn{
    background-color: #bdbfbf;
}
.returnBtn:hover{
    background-color: #888a8a;
}

.deleteBtn{
    background-color: #f45572;
}
.deleteBtn:hover{
    background-color: #d1052a;
}

.task-tabs div{
    cursor: pointer;
}

#add-btn{
    border-radius: 9px;
    border: 0;
    background-color: #d3bcf6;
    font-family: fantasy;
    text-align: center;
    padding-top: 5px;
}

#add-btn:hover{
    background-color: #bc98f3;
}


